{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block description %}Consultez la liste de mes articles très pertinent sur le bien être{% endblock %}

 {% block keywords %} Blog, Medecine, Jean Dupont{% endblock %}

 {% block main %}
 <h1 class = "text-center my-3 display-5">Venez découvrir le blog de l'année</h1>
 {% endblock %}